/* ---------- root variables ---------- */
:root {
  --green: #239F4D;
  --light-grey: #F3F5F8;
  --dark-grey: #30353f;
  --light-blue: #629af5;
  --white: #ffffff   ;
  --text-color-light: #9da6ab;
 
}

/* ---------- general styling ---------- */
html {
  color: var(--text-color-dark);
  font-family: var(--font-family);
  height: 100;
  text-align: center;
  width: 100%;
  font-weight: 200;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 3px;
}

/* ---------- topbar styling ---------- */
.topbar {
  background-color: white;
  color: var(--dark-grey);
  font-family: inter;
font-size: 26px;
display: flex;
  padding: 13.5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.topbar h2 {
  margin: 0;
  font-weight: 300;
}

.topbar a {
  text-decoration: none;
  color: var(--text-color-light);
  position: absolute;
  top: 20px;
}

.topbar a.left {
  left: 20px;
}

.topbar a.right {
  right: 20px;
}

/* ---------- tabbar styling ---------- */
.tabbar {
  background-color: var(--green);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  
}

/* Style the links inside the navigation bar */
.tabbar a {
  display: inline-block;
  color: var(--text-color-light);
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* Change the color of links on hover */
.tabbar a:hover {
  background-color: var(--light-grey);
  color: var(--text-color-dark);
}

/* Add a color to the active/current link */
.tabbar a.active {
  background-color: var(--light-green);
  color: var(--text-color-light);
}

/* ---------- page styling ---------- */
.page {
  display: none;
  /*min heigh is screen heigh minus height of tab and top bar */
  min-height: calc(100vh - 110px);
  background: var(--light-grey);
  animation: fadeIn 0.4s;
  /* padding equals height of tabbar and topbar */
  padding: 55px 0;
}

/* ---------- logo styling ---------- */
.logo {
  margin: 2em auto;
  width: 100%;
  max-width: 300px;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ---------- loader styling ---------- */
#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
  overflow: hidden;
  background: var(--loader-background-color);
  text-align: center;
}

.spinner {
  border: 5px solid var(--light-grey);
  border-radius: 50%;
  border-top: 5px solid var(--light-green);
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}


.profile-img{
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  background-color: white;
}



.grid-container> article {
  margin: 22px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
}

.grid-container> article img {
  max-width: auto;
  width: 100%;
}

.grid-container> article h2 {
  text-align: left;
  font-family: rift,sans-serif;
  font-weight: 700;
  font-style: normal;
  margin: 0;
}


.freeheader {
 
  font-family: inter;
font-weight: bold;
color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  margin: 30px auto;
  width: 1000px;
  height: 120px;
  background-color: var(--green);
}

.freeleft {
  margin-left: 50px;
  text-align: left;
}

.freedetails {
  margin-right: 50px;
  font-size: 20px;
}
.clickcreate {
 display: flex;
 justify-content: center;
 align-items: center;
    border-radius: 16px;
  margin: 30px auto;
  width: 1000px;
  height: 240px;
  background-color: white;
}

.event_wrapper {
  margin: 60px auto;
  display: flex;
  justify-content: space-around;
  width: 1200px;
  height: 400px;
}

.eventbox {
 
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.phanEvents1 {
  
  border-radius: 16px;
width: 560px;
height: 160px;
background-color: white;
display: flex;
justify-content: space-around;
align-items: center;
}

.phanEvents {
  opacity: 0.6;
  border-radius: 16px;
width: 560px;
height: 160px;
background-color: white;
display: flex;
justify-content: space-around;
align-items: center;
}

.intxt {
  text-align: left;
  margin-left: -100px;
}
.appi {
  margin-top: 10px;
  margin-left: -10px;
}
.indes {
  
  margin-top: -10px;
}
.formwrapper {
  border-radius: 16px;
  margin: auto;
  width: 1000px;
  background-color: white;
  height: 600px;
}
.form {
  
  margin: 60px auto;
  width: 1000px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.form input {
  margin-top: 50px;
} 

.selectcat {
  margin: auto;
  width: 600px;
  justify-content: space-around;
  display: flex;
}

.div {
  align-self: center;
  font-family: Inter;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: var(--light-grey);
}

.selector {
  visibility: hidden;
}

.inputs {
  margin:  auto;
  width: 600px;
  display: flex;
  flex-direction: column;
}

.in {
  font-family: inter;
  border-radius: 16px;
  padding: 8px 16px;
  margin-top: 50px;
  outline: none;
  border: none;
  background-color: var(--light-grey);
}
.gi {
  margin-top: -40px;
  
}

.et {
  margin-top: -20px;
  margin-bottom: 50px;
}
.home-empty{
    opacity: 0;
}

.one {
  font-size: 36px;
  font-family: inter;
font-weight: bold;
color: white;
}

.border {
  border: 3px solid var(--green);
}

.button1 {
    color: var(--light-blue);
    background-color: var(--white);
    border: 3px solid var(--light-blue);
    padding: 8px 16px;
    border-radius: 8px;
}

.button1:hover {
  border: 3px solid #a1c3fa;
    color: #a1c3fa;
   
}

.button2 {
  margin: auto;
    color: var(--light-blue);
    background-color: var(--white);
    border: 3px solid var(--light-blue);
    padding: 8px 16px;
    border-radius: 8px;
    width: 100px;
}
h2 {
    font-size: 24px;
    font-family: inter;
    color: var(--dark-grey);
}

.gettxt {
  font-family: inter;
  font-size: 18px;
  width: 600px;
}

.tophed {
  margin-top: 30px;
}

p {
  font: 18px;
  font-family: inter;
}

.contactbot {
 justify-content: center;
  display: flex;
}

.linkco {
  color: var(--light-blue);
  font-weight: bold;
}

.lego {
  margin-top: -20px;
}

.eventcont {
  margin-top: -20px;
}
.eventT {
  font-size: 36px;
}

.codewrap{
  margin: auto;
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.codein {
height: 400px;
display: flex;
flex-direction: column;
justify-content: space-around;
font-family: Inter;
}

.formwrapper1 {
  border-radius: 16px;
  margin: auto;
  width: 1000px;
  background-color: white;
  height: 1000px;
  margin-bottom: 50px;
}